# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/*
!.vs/settings.json
!.vs/tasks.json
!.vs/launch.json
!.vs/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

Debug/*
OpenGL/Debug/*
**/Debug/*
Dependencies/*